@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  background-color: #f4f5f5;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #b39e65;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

section {
  padding: 4em 2em;
}

.navbar {
  background: white;
  padding: 1em;
}
.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  color: #312020;
}
.navbar .logo span {
  color: var(--primary-color);
}
.navbar nav {
  display: none;
}
.navbar .open-nav {
  cursor: pointer;
}
.navbar .container {
  display: flex;
  place-content: space-between;
}

.hero {
  text-align: center;
}
.hero .left-cta .left-sayings {
  color: #7a7575;
  letter-spacing: 0.5px;
}
.hero .left-cta .left-quotes {
  color: #7a7575;
  letter-spacing: 0.5px;
  font-weight: bold;
  right: 0;
  margin-top: -1em;
}
.hero .left-cta .left-heading {
  line-height: 1.2em;
  font-size: 1.6em;
}
.hero .left-cta .offer-words {
  color: #7a7575;
  letter-spacing: 0.5px;
}
.hero .left-cta .offer-words span {
  font-weight: bold;
}
.hero .left-cta .try-offer {
  background-color: var(--primary-color);
  color: #251b1b;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 5em;
  display: inline-block;
}
.hero .left-cta .try-offer:hover {
  color: white;
  background-color: #5a3006;
}
.hero .hero-image {
  width: 90%;
  margin-top: 3em;
}

.service-bar {
  background-color: #20272E;
  color: white;
}

.service-info {
  margin: 0;
  padding-left: 0.1em;
  font-size: 2em;
  color: var(--primary-color);
}

ul.service-sayings {
  margin: 0;
  padding-left: 0.1em;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}
ul.service-sayings li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}
ul.service-sayings li:before {
  content: "";
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../images/brown-tick.svg);
  background-size: contain;
  margin-left: 0.5em;
  margin-top: 1.4em;
}

.service-image {
  display: none;
}

.price-bar {
  background-color: var(--primary-color);
  color: #362222;
}
.price-bar .container {
  padding-right: 2em;
}
.price-bar li {
  background: #dbd8d5;
  text-align: center;
  padding: 0.5em 0.5em;
  width: 80%;
  margin: 0 auto 1em auto;
  border-radius: 1em;
}
.price-bar li a {
  text-decoration: none;
  background-color: var(--primary-color);
  margin-bottom: 0.8em;
  color: #362222;
  font-size: 1em;
  font-weight: bold;
  border-radius: 2em;
  padding: 0.5em 1em;
  border-radius: 5em;
  display: inline-block;
}
.price-bar li a:hover {
  color: white;
  background-color: #5a3006;
}

.contact-bar {
  background-color: #ebe5dd;
}
.contact-bar .number {
  padding-left: 1.5em;
  position: relative;
}
.contact-bar .number:before {
  content: "";
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../images/phone.svg);
  background-size: contain;
  margin-left: 1.8em;
}
.contact-bar .submit-con {
  background-color: var(--primary-color);
  border-radius: 0.5em;
  padding: 0.9em 1em 1.8em 1em;
  font-weight: bold;
  color: #1f1913;
  height: 26px;
}
.contact-bar .submit-con:hover {
  color: white;
  background-color: #5a3006;
}
.contact-bar .contact-menu {
  padding-bottom: 0.6em;
  margin-top: -2em;
}
.contact-bar .con-mail {
  width: 60%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
}
.contact-bar .mail-mes {
  font-weight: bold;
  color: #683c3c;
}
.contact-bar .contact-image {
  display: none;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 55%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 0.1em;
}
nav ul.primary-nav {
  margin-top: 4em;
}
nav li a {
  color: white;
  text-decoration: none;
  margin-bottom: 1em;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: left;
}
nav li a:hover {
  font-weight: bold;
}

.exit-nav {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 770px) {
  .open-nav,
.exit-nav {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
    margin-bottom: -1em;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: flex;
    margin: 0;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav li.home-current {
    font-weight: bold;
  }
  .navbar nav li.premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 5em;
    margin-top: 0.1em;
    font-size: 12px;
  }
  .navbar nav li.premium-cta a:hover {
    color: white;
    background-color: var(--primary-color);
  }
}
@media only screen and (min-width: 1080px) {
  .container {
    margin: 0;
  }

  section {
    padding: 10em 4em;
  }

  .navbar .container {
    font-size: 20px;
  }
  .navbar .container .premium-cta {
    margin-top: 0.1em;
  }

  .hero .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-cta {
    margin: -2em 1em 0 5em;
  }
  .hero .container .left-cta .left-heading {
    font-size: 2em;
    width: 90%;
  }

  .hero .hero-image {
    width: 40%;
    margin-right: 6em;
    margin-top: -2em;
  }

  ul.service-sayings {
    display: block;
    margin-left: 5em;
  }
  ul.service-sayings li {
    font-size: 1.4em;
  }
  ul.service-sayings li:before {
    width: 30px;
    height: 30px;
    margin-top: -0.1em;
  }

  .service-bar .service-info {
    margin-left: 2.3em;
  }

  .service-bar {
    position: relative;
  }
  .service-bar .container {
    margin-top: -3em;
    margin-bottom: -3em;
  }

  .service-bar img {
    display: block;
    position: absolute;
    right: 1em;
    width: 300px;
    bottom: 13em;
  }

  .price-bar ul {
    display: flex;
  }
  .price-bar ul li {
    margin: 0 1em;
  }
  .price-bar ul li h4 {
    font-size: 25px;
  }
  .price-bar ul .price-tab1 a {
    margin-top: 8.4em;
  }
  .price-bar ul .price-tab2 a {
    margin-top: 4.4em;
  }
  .price-bar ul .price-tab3 a {
    margin-top: 0.3em;
  }

  .left-contact .con-mail {
    width: 45%;
  }

  .contact-bar {
    background-color: rgba(247, 242, 242, 0.959);
  }
  .contact-bar .container {
    margin-bottom: -3em;
  }
  .contact-bar .container img {
    display: block;
    position: absolute;
    width: 30%;
    right: 6em;
    margin-top: -18em;
  }
}
@media only screen and (min-width: 1300px) {
  .price-bar ul {
    display: flex;
  }
  .price-bar ul li {
    margin: 0 1em;
  }
  .price-bar ul li h4 {
    font-size: 25px;
  }
  .price-bar ul .price-tab1 a {
    margin-top: 6.2em;
  }
  .price-bar ul .price-tab2 a {
    margin-top: 3.9em;
  }
  .price-bar ul .price-tab3 a {
    margin-top: 1.2em;
  }
}/*# sourceMappingURL=style.css.map */